Flask==3.0.3
flask-cors==3.0.10
SpeechRecognition==3.10.4
pyttsx3==2.90
PyAudio==0.2.14
wave==0.0.2
grpcio==1.63.0
numpy==1.26.0
soundfile==0.12.1
gTTS==2.5.1
keyboard==0.13.5
requests==2.31.0
langchain==0.2.1
langchain-community==0.2.1
